
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/allure-results/
/allure-report/
/playwright/.cache/
/playwright/.auth/
.features-gen/

# Environment variables
.env
.env.local

# k6 performance test output
k6/results/
k6/report/index.html
k6/report/data.json
